.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.sidebar img {
    width: 30px;
    cursor: pointer ;
    padding-left: 36px;
}

.sidebar-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 0;
    transition: 300ms;
    cursor: pointer;
}

.sidebar-list-active{
    height: 300px;
}


.sidebar-list-item{
    border-radius: 50%;
    height: 26px;
    width: 26px;
    list-style: none;
}
